<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <section class="row mt-5">
        <article class="col-12 col-md-8 col-lg-6 mx-auto">
            <div class="card shadow">
                <div class="card-header">
                    <h5>Producto con una imagen</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="/images/Messi.webp" class="img-fluid rounded-start" alt="Responsive image">
                        </div>
                        <div class="col-8">
                            <h4>Nombre del producto</h4>
                        <hr>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, modi quasi! Hic delectus nulla, tempore voluptatibus illo nesciunt pariatur? Unde, at blanditiis mollitia ea nesciunt sapiente neque quos aliquam beatae.
                        Voluptatem accusantium, officia aut, aspernatur ipsum quae veritatis quod ut nulla dicta unde magni tenetur ad eaque dolor odio esse soluta illum sequi ratione maiores iste nisi! Quasi, ducimus nam.
                        At voluptatum vitae ipsum quis voluptatibus atque autem ullam consequuntur sequi beatae deleniti modi eum neque facere natus, tempore earum deserunt! Nihil animi quis, ratione voluptatum delectus saepe nemo! Et!
                        Dolore, harum totam perferendis eligendi delectus in veritatis officiis ab. Cum at delectus quisquam id, asperiores consectetur repellat distinctio corporis odit dolorem ipsa ex magni autem neque minima nam ducimus.
                        Expedita nesciunt rerum similique quod culpa et eaque, ratione fugiat ducimus perferendis illum sit aspernatur a esse dignissimos repellat unde, temporibus assumenda ipsa accusantium. Rem veniam quos voluptate dolorum vitae?
                        In nobis dolorum illo id cumque unde cum maxime, debitis ducimus expedita eum voluptatem repellat iste veniam porro nesciunt! Cupiditate laborum laudantium molestias minima temporibus mollitia fugiat beatae magnam accusamus!
                        Nesciunt harum beatae vitae voluptatem vel. Maxime enim in, quas nemo ex error est itaque dignissimos accusantium dolore debitis quia dolor totam cumque! Sed, mollitia nesciunt. Aperiam nemo fugiat nostrum!
                        Doloremque molestias facilis unde nulla optio. Sed est nesciunt nisi, optio molestias, nemo repellendus ipsam suscipit sapiente, doloremque deserunt ipsum nam illo. Repellat, accusantium corporis at animi et ratione obcaecati?
                        Aliquid a nesciunt nisi velit illo facere magnam perferendis temporibus eius voluptatum optio eum ex aliquam perspiciatis ad vitae, nemo earum ratione. Ratione non officia blanditiis iusto soluta? Nobis, totam?
                        Cum aliquid amet harum alias officiis, ea atque consectetur in adipisci numquam perferendis velit qui quos itaque facere minima dicta illum impedit minus. Atque cumque ipsam excepturi molestiae fuga et?
                        Optio quis eaque quasi soluta nulla, consequuntur inventore in reiciendis. Optio unde amet sint iusto tempore quisquam id iure facilis voluptate eveniet consectetur ex debitis nihil ab sequi, voluptas odio.
                        Ex provident ab obcaecati eligendi ipsam at ratione deleniti culpa vero earum, sit rerum aspernatur, aliquid delectus voluptas similique nam necessitatibus eveniet. Dolore nobis repudiandae facere temporibus dolor eum ut.
                        Temporibus tempora minima recusandae aperiam vero laudantium ea sunt eum a ipsam nisi voluptas voluptate, repudiandae et. Laborum consectetur iste impedit commodi, doloremque non labore laboriosam quis aperiam, magni beatae?
                        Sint modi nulla dolore earum ad pariatur, aspernatur provident dignissimos quos nemo quibusdam explicabo maiores dolor iusto soluta dolorem nihil eos assumenda voluptatum totam aliquid reprehenderit sunt et nobis! Quisquam.
                        Qui officia aspernatur quo magnam quibusdam sint placeat consectetur eaque nihil porro, quos nemo, possimus laudantium perferendis odit facere numquam vel facilis rem tempora autem! Eos, quasi voluptates. Dolore, quaerat!
                        Inventore qui earum labore similique reiciendis ad quis nam esse excepturi exercitationem assumenda sed veniam ratione quidem consectetur ut laborum dicta repellat perspiciatis, quaerat deserunt! Pariatur fugiat molestiae perferendis saepe.
                        Sint nihil debitis eum aspernatur accusantium et sapiente, blanditiis quis. Porro est ut sequi, quibusdam consequatur doloremque voluptatibus ad, praesentium magnam expedita quaerat excepturi hic in explicabo saepe eos fugit.
                        Molestiae nesciunt perspiciatis eos! Eveniet itaque dolore et cupiditate ducimus? Nulla, atque rem? Earum corrupti recusandae, atque deleniti qui ipsam. Delectus eaque totam officiis a, ipsum molestias beatae ea temporibus?
                        Quas ea architecto quibusdam? Neque repudiandae sed dolor pariatur velit veniam saepe sit illo dicta, praesentium dolorum laudantium necessitatibus possimus non deserunt voluptas accusantium, exercitationem enim facere dolorem, iste impedit.
                        Ipsam, deleniti est dolorem quia sit fugiat cum laudantium beatae optio quaerat quod officiis provident esse dolore similique ab maiores exercitationem quasi unde alias at officia. Eius dignissimos repellat iure!</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>